{% extends "::base.html.twig" %}

{%block stylesheets%}
    {{parent()}}
    <link href="{{asset('bundles/fueltechsupport/css/main.css')}}" rel="stylesheet">
{%endblock%}
{%block title%}
    FT Support - 
{%endblock%}
{%block body%}
    {%block navigation%}
    <nav class="navigation clearfix">
        <ul class="float-left">
            <li><a href="{{path('ftsupport_home')}}">Home</a></li>
            <li><a href="{{path('ftsupport_client_list')}}">Klanten</a></li>
            <li><a href="{{path('ftsupport_site_list')}}">Installaties</a></li>
        </ul>
        <ul class="float-right">
            {%if app.user%}
            <li id="user-status"><span>Aangemeld als {{app.user.username}}</span></li>
            <li><a href="{{path('fos_user_security_logout')}}">Afmelden</a></li>
            {%else%}
            <li><a href="{{path('fos_user_security_login')}}">Aanmelden</a></li>
            {%endif%}
        </ul>
    </nav>
    {%endblock%}
    {%block content%}
    {%endblock%}
{%endblock%}
