{% extends "FuelTechSupportBundle::layout.html.twig" %}

{%block stylesheets%}
{{parent()}}
{#<link rel="stylesheet" href="{{asset('bundles/fueltechsupport/css/forms.css')}}">#}
{%endblock%}

{%block title%}
    {{parent()}}
    Installaties
{%endblock%}
{%block content%}
    <h2>Installatie lijst</h2>
    
    {#<div class="search">
        {{form(form)}}
    </div>#}
    
    <table class="table">
        <thead>
            <tr>
                <td>Naam</td>
                <td>Adres</td>
                <td>Postcode</td>
                <td>Stad</td>
                <td>Installatie datum</td>
                <td></td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="6">
                    <form action="{{path('ftsupport_site_new')}}">
                        <button>Nieuwe Installatie</button>
                    </form>
                </td>
            </tr>
        </tfoot>
        <tbody>
            {%for site in sites%}
            <tr>
                <td><a href="{{path('ftsupport_site_detail', {'id':site.id})}}">{{site.name}}</a></td>
                <td>{{site.address}}</td>
                <td>{{site.postcode}}</td>
                <td>{{site.city}}</td>
                <td>{{site.telephone}}</td>
                <td><a href="{{path('ftsupport_site_delete', {'id':site.id})}}">Verwijder</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock%}
