{% extends "FuelTechSupportBundle::layout.html.twig" %}

{%block title%}
    {{parent()}}
    Contactpersonen
{%endblock%}
{%block content%}
    <h2>Contactpersonen</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Naam</td>
                <td>Telefoon</td>
                <td>Mobiel</td>
                <td>Email</td>
            </tr>
        </thead>
        <tfoot></tfoot>
        <tbody>
            {%for contact in contacts%}
            <tr>
                <td><a href="{{path('ftsupport_contact_detail', {'id':contact.id})}}">{{contact.name}}</a></td>
                <td>{{contact.telephone}}</td>
                <td>{{contact.mobile}}</td>
                <td>{{contact.email}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock%}
